@use "../common/variables" as *;

html {
  background: linear-gradient(
    -45deg,
    $color-primary-40,
    $color-primary-20,
    $color-primary-30,
    $color-primary-50
  );
}

body {
  width: 100%;
  max-width: 455px;
  margin: 0 auto;
  background-color: $color-light;
}
