@use "../common/variables" as *;

// Great Vibes
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  src: url($fonts-path + "/GreatVibes/GreatVibes-Regular.ttf") format("truetype");
  text-rendering: optimizeLegibility;
  font-display: auto;
}

// Tenor Sans
@font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  src: url($fonts-path + "/Tenor/TenorSans-Regular.ttf") format("truetype");
  text-rendering: optimizeLegibility;
  font-display: auto;
}