/**
 * COLORS
 */
/**
 * Main
 */
$color-primary: hsl(80, 24%, 40%);
$color-secondary: hsl(230, 19%, 50%);

$color-dark-100: hsl(0, 0%, 0%);
$color-dark-50: hsl(234, 66%, 31%);
$color-dark-30: hsl(267, 75%, 36%);
$color-dark-25: hsl(229, 16%, 52%);
$color-dark-20: hsl(248, 17%, 53%);
$color-dark-15: hsl(248, 22%, 61%);
$color-dark-10: hsl(215, 14%, 61%);

$color-light: hsl(0, 0%, 100%);

$color-active-60: hsl(47, 100%, 50%);
$color-active-100: hsl(40, 100%, 48%);

$color-accent-20: hsl(228,19%,90%);
$color-accent-35: hsl(21, 27%, 50%);
$color-accent-37: hsl(11, 80%, 39%);
$color-accent-40: hsl(229, 20%, 39%);
$color-accent-50: hsl(240, 32%, 41%);
$color-accent-55: hsl(230, 29%, 33%);
$color-accent-56: hsl(240, 30%, 16%);
$color-accent-57: hsl(233, 6%, 25%);
$color-accent-58: hsl(225, 30%, 22%);
$color-accent-60: hsl(229, 27%, 15%);
$color-accent-63: hsl(16, 35%, 27%);
$color-accent-65: hsl(229, 29%, 19%);
$color-accent-70: hsl(226, 31%, 18%);
$color-accent-75: hsl(248, 26%, 22%);
$color-accent-80: hsl(230, 29%, 15%);
$color-accent-90: hsl(225, 31%, 13%);
$color-accent-95: hsl(251, 26%, 12%);
$color-accent-100: hsl(60, 20%, 14%);

$color-primary-90: hsl(104, 22%, 33%);
$color-primary-50: hsl(130, 60%, 40%);
$color-primary-40: hsl(120, 60%, 45%);
$color-primary-30: hsl(160, 60%, 45%);
$color-primary-20: hsl(140, 60%, 50%);


/**
 * Error
 */
$color-error-40: hsl(10, 84%, 80%);
$color-error-60: hsl(11, 86%, 70%);
$color-error-80: hsl(11, 85%, 60%);
$color-error-primary: hsl(11, 87%, 50%);
$color-error-red: hsl(0, 57%, 53%);

/**
 * Other
 */
$color-placeholder: hsl(0, 0%, 96%);
$color-border: hsl(246, 23%, 18%);
$color-label: hsl(355, 100%, 65%);
$color-caustic: hsl(162, 82%, 56%);

/**
 * Fonts path
 */
$fonts-path: '~/assets/fonts';

/**
 * Fonts
 */
$font-lato: 'Lato', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-segoe-ui: 'SegoeUI', sans-serif;
